html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

#logos_container {
  display: block;
  padding: 1rem 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.container {
  width: 970px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.region-logos {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

#block-selectedunits {
  display: block;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.clearfix::before,
.clearfix::after,
.row::before,
.row::after {
  content: " ";
  display: table;
}

.clearfix::after,
.row::after {
  clear: both;
}

.field {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.row {
  margin-right: -15px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.col-xs-4 {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

.col-xs-4 > a {
  color: #0076A8;
  text-decoration: none;
}

.col-xs-4 > a:hover,
.col-xs-4 > a:focus {
  text-decoration: underline;
}

.col-xs-4 .img-responsive {
  display: block;
  width: 175px;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: -15px;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: #0076A8;
  text-align: center;
}